<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--Header-->
    <header>
        <div class="top-head">
            <div class="container">
                <div class="row">
                    <div class="col-4 title-head">
                        HLAT
                    </div>
                    <div class="col-8">
                        <nav class="navbar navbar-expand-sm navbar-light bg-light">
                            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavId">
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Product review</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product
                                            types</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                                            <a class="dropdown-item" href="#">Action 1</a>
                                            <a class="dropdown-item" href="#">Action 2</a>
                                        </div>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-head">
            <div class="title-bottom">You are free to comment on the product</div>
        </div>
    </header>
    <!--Content-->
    <div class="content">
        <div class="popular">
           
        </div>
        <!--Eveluate-->
        <div class="eveluted">
            <div class="container">
                <div class="row">
                    <div class="col-4">image</div>
                    <div class="col-8">Eveluate</div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer>
        <div class="end-footer">Mọi thắc mắc xin liên hệ nhóm 3 &copy; fit.tdc.edu.vn</div>
    </footer>
</body>

</html>